@import url('http://fonts.googleapis.com/css?family=Lato:300,400');

html,
body,
body > div[ng-view] {
    width: 100%;
    height: 100%;
}
h2 {
    font-size: 23px;
}
h2 small {
    font-size: 16px;
}

.page {
    padding-top: 80px;
    margin-bottom: 50px;
}

.navbar {
    min-height: 60px;
    background: rgba(255,255,255,0.9);
}
.navbar-brand {
    height: 60px;
}
.logo {
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    width: 200px;
    height: 100%;
}

.landing-page {
    background-image: url('../images/bg-1.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.login-linkedin {
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h1, h2 {
    font-family: Lato, Helvetica, Arial, sans-serif;
}


/* Slider */
input[type=range].slider{
    -webkit-appearance: none;
    margin-bottom: 10px;
}
input[type=range].slider::-webkit-slider-runnable-track {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(to right, #52FA90 0%, #df3341 100%); /* Chrome10+,Safari5.1+ */
    box-shadow: 0 1px 0 rgba(255,255,255,1), inset 0 -2px 3px rgba(0,0,0,0.1);
}
input[type=range].slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: white;
    margin-top: -8px;
    content: '< >';
    color: #AAA;
    font-size: 5px;
    box-shadow: -5px 2px 3px rgba(0,0,0,0.3);
}
input[type=range].slider:focus {
    outline: none;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
    /*background: #ccc;*/
}

.how-start .btn {
    width: 100%;
    border-radius: 0;
    padding: 20px;
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Explore */
.portfolio {
    border: 1px solid #D6E6FF;
    background-color: #EDF4FF;
    border-radius: 2px;
    margin: 0 0 10px 0;
    display: block;
    position: relative;
    min-height: 65px;
}
.portfolio > div {
    padding: 10px;
    padding-bottom: 10px;
    min-height: 65px;
}
.portfolio .name {
    font-weight: bold;
    font-family: Lato;
}
.portfolio .name .portfolio-name {
    font-size: 16px;
    color: #222;
}
.portfolio .return {
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    padding-top: 8px;
}
.portfolio .return.profit {
    color: green;
}
.portfolio .return.profit .fa-chevron-down {
    display: none;
}
.portfolio .return.loss {
    color: red;
}
.portfolio .return.loss .fa-chevron-up {
    display: none;
}
.portfolio .actions {
    padding: 16px 10px;
    text-align: right;
}
.portfolios-added .asset {
    background-color: #FFD6C9;
    border-color: #F2A58D;
}

/* DIY */
.search {
    margin-bottom: 10px;
    position: relative;
}
.search .fa {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 18px;
}
.search input {
    border-radius: 50px;
    width: 100%;
    font-size: 14px;
    outline: 0;
    padding: 10px 35px 10px 20px;
    border: 1px solid #eee;
}

