<div ng-include="'app/components/header.html'"></div>
<style>
.sub-title {
    margin: 20px 0;
    font-size: 1.9m;
    font-weight: bold;
}

.avatar-wrapper {
    background-color: #EDEDED;
    padding: 10px;
    text-align: center;
}
</style>
<div class="page container">
    <div class="row">
        <div class="col-md-3">
            <div class="avatar-wrapper">
                <img src="images/tmp/avatar-head.jpg" style="max-width: 100%; margin: 5px auto;" />
                <h3>Neil Woodford</h3>
            </div>
        </div>
        <hr />
        <div class="col-md-9">
            <h3><a href="#/portfolio">CF Woodford Equity Income</a></h3>
            <!-- begin composition -->
            <!-- <div class="sub-title">Composition</div> -->
            <ul class="nav nav-tabs">
                <li ng-class="{active: activeTab == 1 || !activeTab}"><a ng-click="activeTab = 1">Assets</a></li>
                <li ng-class="{active: activeTab == 2}"><a ng-click="activeTab = 2">Currency</a></li>
                <li ng-class="{active: activeTab == 3}"><a ng-click="activeTab = 3">Sector</a></li>
            </ul>
            <div class="tab-section" ng-show="activeTab == 1 || !activeTab" ng-hide="activeTab && activeTab != 1">
                <highchart id="chart1" config="chartConfigAssets"></highchart>
            </div>
            <div class="tab-section" ng-show="activeTab == 2" ng-hide="!activeTab || actieTab != 2">
                <highchart id="chart2" config="chartConfigCurrency"></highchart>
            </div>
            <div class="tab-section" ng-show="activeTab == 3" ng-hide="!activeTab || actieTab != 2">
                <highchart id="chart3" config="chartConfigSector"></highchart>
            </div>
            <!-- end composition -->
            <hr />
            <!-- begin performance -->
            <div class="sub-title">Performance</div>
            <highchart id="stockchart1" config="chartConfigPerformance1Y"></highchart>
            <!-- end performance -->
        </div>
	</div>
</div>
