<div ng-include="'app/components/header.html'"></div>

<div class="page container">
	<div class="search">
		<i class="fa fa-search"></i>
		<input type="text"  ng-model="asset_search">
	</div>
	
	<div class="portfolios-added">

		<div class="portfolio asset row" ng-repeat="asset in assets_added">
			<div class="name col-xs-9">
				<a href="#/asset" class="portfolio-name">{{asset.name}}</a>
				<br />
				<a href="#/sector" class="user-name">{{asset.sector}}</a>
			</div>
			<div class="actions col-xs-3">
				<div class="btn btn-default" ng-click="removeAsset(asset)"><i class="fa fa-minus"></i></div>
			</div>
		</div>

	</div>

	<div class="portfolios">
		<div class="portfolio asset row" ng-repeat="asset in assets|filter:asset_search">
			<div class="name col-xs-9">
				<a href="#/asset" class="portfolio-name">{{asset.name}}</a>
				<br />
				<a href="#/sector" class="user-name">{{asset.sector}}</a>
			</div>
			<div class="actions col-xs-3">
				<div class="btn btn-default" ng-click='addAsset(asset)'><i class="fa fa-plus"></i></div>
			</div>
		</div>
	</div>

	

</div>

<div ng-include="'app/components/footer.html'"></div>